<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% for meta in page.metadata %}
    {% if meta.name != 'generator' %}
    <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
    {% endif %}
{% endfor %}

{% if theme_config.favicon != '' %}
<link rel="icon" href="{{ url('theme://img/' ~ theme_config.favicon, true) }}" />
{% endif %}

{% if header.robots %}
<meta name="robots" content="{{ header.robots }}">
{% endif %}

<title>{% if header.title %}{{ header.title }}{% else %}{{ site.title }}{% endif %}</title>

{% block stylesheets %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800') %}
    {% do assets.addCss('theme://css/styles.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('https://use.fontawesome.com/releases/v6.1.0/js/all.js') %}
    {% do assets.addJs('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/scripts.js', {group:'bottom'}) %}
{% endblock %}

{{ assets.css()|raw }}
{{ assets.js()|raw }}

{# Site URL is not correct if Grav is in subfolder #}
{% if base_url %}
    {% set site_url = base_url_absolute|replace({(base_url): ''}) %}
{% else %}
    {% set site_url = base_url_absolute %}
{% endif %}

{% if page.header.header_image %}
    {% set og_image = site_url ~  page.media.images[page.header.header_image].cache.url() %}
{% elseif page.media.images|length > 0 %}
    {% set og_image = site_url ~  page.media.images|first.cache.url() %}
{% else %}
    {% set og_image = '' %}
{% endif %}

<meta property="og:url" content="{{ page.url(true) }}" />
<meta property="og:title" content="{{ page.title|e('html_attr') }}" />
<meta property="og:description" content="{{ page.header.metadata.description|e('html_attr') }}" />
{% if og_image is not empty %}
<meta property="og:image" content="{{ og_image }}" />
{% endif %}
