{% extends 'partials/base.html.twig' %}

{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "F d, Y" %}

{% block header %}
{% if page.header.header_image %}
    {% set image_url = page.media.images[page.header.header_image].cache.url() %}
{% elseif theme_config.default_header_image %}
    {% set image_url = url('theme://img/' ~ theme_config.default_header_image) %}
{% else %}
    {% set image_url = '' %}
{% endif %}


<header class="masthead" style="background-image: url('{{ image_url }}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    <h2 class="subheading">{{ page.header.subheading }}</h2>
                    <span class="meta">{{ 'THEME_CLEAN_BLOG.POST_BY'|t }} {{ page.header.author }} {{ 'THEME_CLEAN_BLOG.POST_ON'|t }} {{ page.date|date(dateformat) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ page.content|raw }}
                    {% if config.plugins.jscomments.enabled %}
                    {{ jscomments() }}
                {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
